<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.CinemaxxConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Cinemaxx;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.CinemaxxConnectionString1"
            connectionString="Data Source=DESKTOP-QL4OJD8\SQLEXPRESS;Initial Catalog=Cinemaxx;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>